name: Update Twikoo
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Asia/Shanghai
    steps:
      - uses: actions/checkout@v5
      - name: Setup Node.js 10.x
        uses: actions/setup-node@master
        with:
         node-version: "10.x"
      - name: Lancher Job
        run: |
          git clone https://github.com/imaegoo/twikoo.git
          npm i -g @cloudbase/cli
          tcb login --apiKeyId "${{ secrets.SECRETID }}" --apiKey "${{ secrets.SECRETKEY }}"
          tcb fn deploy -e "${{ secrets.TCBENVID }}" --force
      - name: Purge Jsdelivr CDN
        run: |
          curl https://purge.jsdelivr.net/gh/ladjeek-actions/twikoo-update@main/package.json
      - name: Delete Workflow Runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 1
          keep_minimum_runs: 1
      - name: Telegram Notification
        if: cancelled() == false
        uses: xinthink/action-telegram@v1.1
        with:
          botToken: ${{ secrets.TG_BOT_TOKEN }}
          chatId: ${{ secrets.TG_CHAT_ID }}
          jobStatus: ${{ job.status }}
          skipSuccess: false
